.cart {
  display: flex;
  flex-direction: column;
}

.cart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.close {
  margin-left: auto;
}

.cart-item {
}
