.cart {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 100%;
  color: rgb(0, 0, 0);
}

.cart-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.cart-content {
  display: flex;
  flex-direction: column;
}

.cart-content .btn {
  padding: 0;
  margin-bottom: 20px;
  justify-self: flex-end;
}

.close {
  margin-left: auto;
  padding: 0;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
}
