.card {
  display: flex;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0;
  padding: 2.5rem 1.5rem;
  text-align: left;
}

.product-image {
  max-height: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image > img {
  height: 15rem;
  max-height: 15rem;
  max-width: 100%;
}

.product-image > span {
  font-size: 5rem;
}

.product-lower {
  display: flex;
  flex-direction: column;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price > span {
  font-weight: bold;
  font-size: 1.5rem;
}

.product-btn {
  background-color: rgb(194, 24, 91);
  color: white;
}

.product-btn:hover {
  /* transform: scale(0.98); */
  background-color: rgb(204, 26, 97);
}

.error-message {
  display: flex;
  align-items: center;
  color: red;
}
