* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body,
html {
  background-color: rgb(247, 247, 247);
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 0.75rem;
}

.page-container {
  width: 80%;
  margin: 0 auto;
  padding: 65px 0 0 0;
}

.btn {
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  border: 0.1rem solid transparent;
  background-color: transparent;
  outline: transparent;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.disabled {
  background-color: rgb(204, 204, 204) !important;
  cursor: not-allowed;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(255, 255, 255);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
