p {
  font-size: 0.75rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0 0 0;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border-radius: 8px;
  padding: 8px 32px;
  border: 1px solid transparent;
  background-color: transparent;
  outline: transparent;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.disabled {
  background-color: rgb(204, 204, 204) !important;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: rgb(221, 221, 221) !important;
}

/* 
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(255, 255, 255);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
} */
