* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body,
html {
  background-color: rgb(247, 247, 247);
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 0.75rem;
}

.page-container {
  width: 80%;
  margin: 0 auto;
  padding: 65px 0 0 0;
}

.btn {
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  border: 0.1rem solid transparent;
  background-color: transparent;
  outline: transparent;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.disabled {
  background-color: rgb(204, 204, 204) !important;
  cursor: not-allowed;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(255, 255, 255);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  height: 65px;
}

.navbar-icon {
  color: rgb(255, 255, 255);
  font-weight: 100;
  margin: 0 5px;
}

.cart-btn {
  padding: 0;
  color: rgb(255, 255, 255);
}

.navbar-cart {
  margin-left: auto;
}

.shopping-cart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(247, 247, 247);
  overflow-x: hidden;
  transition: 0.5s;
}

.open {
  width: 15rem;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.closed {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
