.cart {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 100%;
  color: rgb(0, 0, 0);
}

.cart-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.cart-content {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-left: auto;
  padding: 0 !important;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cart-item > div {
  flex: 1 1 0;
  text-align: right;
}

.cart-item > div:first-child {
  flex: 2 1 0;
  text-align: left !important;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
